<h2>Name: <%=@destination.name %> || Country: <%=@destination.country%> || Average Age of Bloggers: <%=@destination.average_age%></h2>

<hr>

<%@destination.posts[0..4].map do |post|%>
<%if @destination.find_post_highest_likes==post.title%>
Post: <%=link_to post.title, post_path(post)%> | Likes: <%=post.likes%> <br/>
<%else%>
Post: <%= post.title%> | Likes: <%=post.likes%> <br/>
<%end%>

<%end%>

